.cnt-title{
    text-align: center;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f8dcc2;
  font-family: 'Inter', sans-serif;
  
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 60px;
}

.contact-info {
  background-color: #fff8ee;
  padding: 25px 30px;
  border-radius: 8px;
  width: 300px;
  border: ipx solid white;
  margin-right: 30px;
  height: 500px;
 
}

.info-box {
  display: flex;
  gap: 15px;
  margin-bottom: 30px; padding-right: 30px;
}

.info-box .icon {
  font-size: 20px;
  margin-top: 5px;
}
.info-box img{
    width: 20px;
    height: 23px;
    padding-right: 15px;
}


.info-box h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.info-box p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #333;
}

/* Contact Form */
.contact-form {
  background-color: #fff8ee;
  padding: 30px;
  border-radius: 8px;
  width: 600px;
  height: 650px;
   border: ipx solid white;
   padding-left: 40px;
   
   position: relative;
   top: -30px;
  
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  font-size: 19px;
  margin: 15px 0 5px;
  color: black;
  padding-top: 20px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  resize: vertical;
  height: 30px;
}

.contact-form textarea {
  height: 120px;
}

.contact-form button {
  margin-top: 20px;
  padding: 12px;
  background-color: #c99c52;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #b5883e;
}
#footer-container{
    background-color: #B88E2C;
    text-align: center;
    color: #fff;
    padding: 10px;
}